@import "tailwindcss";
@import "tw-animate-css";

body {
  font-family: var(--font-figtree), sans-serif;
}

:root {
  --background: black;
  --foreground: white;
}



.feature-section {
  display: flex;
  flex-direction: column;

}

@media (min-width: 768px) {
  .feature-section {
    flex-direction: row;
   
  }
}


.feature-section-reverse {
  display: flex;
  flex-direction: column;
}

@media (min-width: 768px) {
  .feature-section-reverse {
    flex-direction: row-reverse;
  }
}